<img ng-if="selectedUserAvatar" ng-src="{{selectedUserAvatar}}" height="100" width="100">
<br>
<label ng-show="isUserCollection">{{firstName}} {{lastName}}</label>
<br>
<br>

<div class="row" style="margin: 0 -7px;">
    <div class="form-group col-xs-6">
        <label for="nameFilter">Filter by name</label>
        <input id="nameFilter"
               class="form-control"
               ng-model="filter.name"
               ng-change="filter.changed()"/>
    </div>

    <div class="form-group col-xs-6">
        <label for="typeFilter">Filter by type</label>
        <input id="typeFilter"
               class="form-control"
               ng-model="filter.type"
               ng-change="filter.changed()"/>
    </div>
</div>

<div>
    <label for="sortBy">Sort by</label>
    <select id="sortBy" ng-model="sortBy" ng-change="getUserItems(sortBy, sortType)">
        <option ng-repeat="sortOption in sortOptions" value="{{sortOption.val}}">{{sortOption.label}}</option>
    </select>
    <select id="sortType" ng-model="sortType" ng-change="getUserItems(sortBy, sortType)">
        <option value="desc">Descending</option>
        <option value="asc">Ascending</option>
    </select>
</div>

<button class="btn btn-primary" ng-show="isUserCollection" ng-click="addItem()">Add new item</button>

<md-card-content ng-repeat="item in userItems">
    <md-card md-theme="default" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline"
                      md-highlight-text="textFilter"
                      md-highlight-flags="gi">{{item.name}}</span>
                <span class="md-subhead"
                      md-highlight-text="textFilter"
                      md-highlight-flags="gi">{{item.category}}</span>
            </md-card-title-text>
            <md-card-title-media>
                <img ng-show="item.image" ng-src="{{item.image}}" err-src="images/fallbackIcons/item.svg" height="75">
            </md-card-title-media>
        </md-card-title>
        <md-card-content>
            <button class="btn btn-primary" ng-click="showDetails(item.itemId)">Details</button>
            <button class="btn btn-warning" ng-show="isUserCollection" ng-click="deleteItem(item.itemId)">Delete item
            </button>
            <button class="btn btn-primary" ng-show="isUserCollection" ng-click="editItem(item.itemId)">Edit</button>
        </md-card-content>
    </md-card>
</md-card-content>

<ul uib-pagination
    total-items="pagination.totalItems"
    num-pages="pagination.numPages"
    ng-model="pagination.currentPage"
    max-size="3"
    force-ellipses="true"
    ng-change="pagination.pageChanged()"
    class="pagination-sm bj-pagination"></ul>