<div class="jumbotron">
    <h2>Reset Password</h2>
    <p ng-bind="errorMessage">{{errorMessage}}</p>
    <form name="form" ng-submit="reset()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required && form.email.$valid }">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
            <span ng-show="form.email.$dirty && !form.email.$error.required && !form.email.$valid" class="help-block">Email in not valid</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Reset Password</button>
            <a ng-click="vm.closeModal()" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>