/* styles in src/style directory are applied to the whole page */
html, body {
    background: #99CCFF;
    color: #0099FF;
    height: 100%;
}

a {
    color: #0066CC;
}

main {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0;
    display: block;
}

footer {
    text-align: center;
    font-size: 0.8em;
}

.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #99CCFF;
}

.toast {
    left: 116px;
    right: 0;
    position: fixed;
    top: 30px;
    border: solid 3px;
    border-radius: 10px;
    max-width: 450px;
    margin: 0 auto;
    z-index: 256000;
}

.error {
    background: rgba(255, 28, 28, 0.9);
    color: white;
    text-align: center;
    border-color: #aa1111;
}

.success {
    background: rgba(0, 156, 0, 0.9);
    color: white;
    text-align: center;
    border-color: #00690a;

}

#slideImg {
    width: 100%;
    max-height: 450px;
    margin-left: -13px;
}

#startJumborton {
    margin-bottom: -7px;
}

fieldset{
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
}

.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;
}

.addAttribute{
    background: chartreuse;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;
}

/*fix problems with hint on modal
 see:
 https://github.com/angular/material/issues/2942
 http://stackoverflow.com/questions/41049080/ngmaterial-md-autocomplete-results-list-showing-behind-modal-form
 */

.md-autocomplete-suggestions-container{
    z-index:100000 !important; /* any number of choice > 1050*/
}

.md-backdrop.md-select-backdrop {
    z-index:1500 !important;
}

.md-select-menu-container {
    z-index:1501 !important;
}

