<md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-href="/waitingForMe" name="waiting">
           Waiting
        </md-nav-item> 
        <md-nav-item md-nav-href="/acceptedByMe" name="accepted">
           Accepted
        </md-nav-item> 
        <md-nav-item md-nav-href="/completed" name="closed">
           Closed
        </md-nav-item> 
      </md-nav-bar>
 <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-href="/acceptedByMe" name="acceptedByMe">
           Accepted by me
        </md-nav-item> 
        <md-nav-item md-nav-href="/acceptedByContractor" name="acceptedByContractor">
           Accepted by contractor
        </md-nav-item> 
      </md-nav-bar>

<md-card-content ng-repeat="offer in offers | filter: {state : 'ACCEPTED_BY_OWNER'}">
    <md-card md-theme="default" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
            
                <span class="md-headline"

                      md-highlight-text="textFilter"
                                            
                      md-highlight-flags="gi">   {{offer.desiredItems[0].name}}</span>
            </md-card-title-text>
          </md-card-title>
 <md-card-content>
            <button class="btn btn-primary" ng-click="showDetails(offer.ownerId, offer.id)">Details</button>
                  </md-card-content>
     
    </md-card>
</md-card-content>
   </md-content>
